ion-content {
  --background: #31353d;
}

.health {
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  --background: rgba(80, 83, 92, 0.247);
  border-radius: 14px;
  text-align: center;
}

img {
  transform: scale(1.2);
}

#card0 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 5px 10px 0px 10px;
  width: 90%;
 
}

.condition {
  font-size: medium;
  padding-bottom: 3%;
}

ion-avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 6px 6px 15px #2c313b, -6px -6px 15px #4a4d52;
  --border-radius: 10%;
}

#card1 {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 90%;
  height: 320px;

}
ion-slide{
  height: 360px;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

.tabs ion-label {
  color: #13c6bc;
  font-size: 10px;
}
.tabs ion-icon {
  color: #13c6bc;
}
