<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pages }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <br>
  <ion-card id="card0" class="health">
    <ion-item class="health">
      <ion-label> Current health status </ion-label>
    </ion-item>
    <ion-card-content>
      <img class="status" src="./assets/icon/currentstatus.png">
    </ion-card-content>
  </ion-card>

  <!---- light green ----->
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content id="content1">
          <ion-card-title class="condition"> Health Condition </ion-card-title>
          <ion-avatar>
            <img src="./assets/icon/qr-code light green.png">
          </ion-avatar>
          <ion-label>
            <br><b> No record of infection </b> <br> Green: the user has no record of infection.
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!---- dark green ----->
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content id="content1">
          <ion-card-title class="condition"> Health Condition </ion-card-title>
          <ion-avatar>
            <img src="./assets/icon/qr-code dark green.png">
          </ion-avatar>
          <ion-label>
            <br><b> Immune </b> <br> Dark Green: the user has completed the doses of Corona vaccine.
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!---- orange ----->
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content id="content1">
          <ion-card-title class="condition"> Health Condition </ion-card-title>
          <ion-avatar>
            <img src="./assets/icon/qr-code orange.png">
          </ion-avatar>
          <ion-label>
            <br><b> Exposed (A) </b><br>
            Orange: The user has been exposed and is not permitted to leave the house or request any permits.
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!---- yellow ----->
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content id="content1">
          <ion-card-title class="condition"> Health Condition </ion-card-title>
          <ion-avatar>
            <img src="./assets/icon/qr-code yellow.png">
          </ion-avatar>
          <ion-label>
            <br><b> Exposed (B) </b><br>Yellow: the user has been exposed to an infected person
            and is permitted to work while taking the preventative measures.
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!---- brown ----->
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content id="content1">
          <ion-card-title class="condition"> Health Condition </ion-card-title>
          <ion-avatar>
            <img src="./assets/icon/qr-code brown.png">
          </ion-avatar>
          <ion-label>
            <br><b> Infected </b> <br> Brown: The user is confirmed to be infected with COVID-19.
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!---- blue ----->
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content id="content1">
          <ion-card-title class="condition"> Health Condition </ion-card-title>
          <ion-avatar>
            <img src="./assets/icon/qr-code Blue.png">
          </ion-avatar>
          <ion-label>
            <br><b> Arrived From Aboard </b> <br>Blue: the user is coming from travel and must complete 7-days of home
            quarantine,
            or take corona test 48 hours after arrival.
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!---- purple ----->
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content id="content1">
          <ion-card-title class="condition"> Health Condition </ion-card-title>
          <ion-avatar>
            <img src="./assets/icon/qr-code purple.png">
          </ion-avatar>
          <ion-label>
            <br><b> Arrived From Aboard </b> <br>Purple: the user has arrived from travel,
            and must complete home quarantine until "No record of infection" appears.
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!---- grey ----->
    <ion-slide>
      <ion-card id="card1" class="health">
        <ion-card-content  id="content1">

              <ion-card-title class="condition"> Health Condition </ion-card-title>
              <ion-avatar>
                <img src="./assets/icon/qr-code grey.png">
              </ion-avatar>
              <ion-label>
                <br><b> No internet connection </b> <br>Gray: The user has no internet connection
                or using (VPN), or did not give location permission.
              </ion-label>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
 