<ion-content fullscreen slot="fixed">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Profile</ion-title> -->
  </ion-toolbar>

  <ion-card >

    <ion-card-header>
    <h1 style="text-align: center;">Forgot Paasword</h1>
    <ion-title>Please enter your email</ion-title>
  </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item >
          <ion-label position="floating" >Email Address</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <section>
    <ion-button (click)="resetPassword()" class="reset" shape="round" fill="outline" > Reset Password
    </ion-button>
  </section>


</ion-content>