ion-content {
    --background: #31353d;
}

ion-toolbar {
    --background: #607d8b;
    box-shadow: 0px 5px 10px #525252;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 50px;
    text-align: center;
}
ion-toolbar.md {
    text-align: start;
}

/*ion-title {
    margin-top: auto;
    margin-bottom: auto;
    //padding-bottom: 20px;
    //padding-left: 80px;
}*/

ion-back-button.ios {
    color: #31353d;
}

.reset {
    --color: #579ef0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform:none;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;   
}

.reset.md{
    margin-top: 20px;
}

ion-card{
    height:fit-content;
    --background: #31353d;  
}


ion-input{
--background: #31353d00;
}

ion-item, ion-lable{
    --background: #31353d;
    color:  #9d9fa6;
}