<ion-content fullscreen slot="fixed">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>

  <ion-card class="profile">
    <ion-card-content>
      <ion-item>
        <ion-icon class ="avatar" name="person-circle-outline" slot="end"></ion-icon>
             <ion-card-title> 
       <p class="title">Name:</p>
     <p class="content">Jumana Basem Bambi</p>
   </ion-card-title>
 </ion-item>
 </ion-card-content>
  
 <ion-card-content>
 <ion-item>
   <ion-card-title > 
     <p class="title">National Number: </p> 
    <p class="content">1100833125</p>
   </ion-card-title>
 </ion-item>
</ion-card-content>
    
   <ion-card-content>
 <ion-item>
   <ion-card-title class="ion-text-wrap"> 
     <p class="title">Nationality: </p>
     <p class="content">Saudi Arabia</p>
   </ion-card-title>
 </ion-item>
</ion-card-content>

   <ion-card-content>
 <ion-item>
   <ion-card-title > 
     <p class="title">Date of birth: </p>
     <p class="content">26/7/1998</p>
   </ion-card-title>
 </ion-item>
 </ion-card-content>
</ion-card>

<ion-item class="mobile">
 <ion-label position="floating"> Mobile number</ion-label>
 <ion-input autocomplete="tel-local" type="tel" placeholder="+966 5xxxxxxxx"></ion-input>
 <br>
</ion-item>

</ion-content>